
body{
    background-color: rgb(215, 219, 206);
}
:root{
    --import-color:rgb(230, 104, 104);
    --secondarty-color:rgb(146, 141, 141);
    --txt-any-name:uppercase;
}
.container{
    width: 80%;
   margin: auto;
}
header{
    background-color: whitesmoke;
    text-align: center;
    padding: 1%;
    color: rgb(66, 66, 95);
    margin: 0.3%;
    
}
main{
    padding: 0.5%;
  display: flex;
  
}
#p2{
    
}
nav{
    background-color: gray;
}
nav a{
    text-decoration: none;
    padding: 0.5%;
    color: rgb(19, 68, 97);
}
nav a:hover{
    color: rgb(110, 163, 163);
    cursor: pointer;
}
section{
    padding-bottom: 0.5%;
    
    
}

footer{
    background-color: white;
    text-align: center;
    padding: 0.5;
}
.b{
    width: 70%;
 
    
    float:left; margin:01.5%; width:63%; min-width:350px;
}
.a{
    text-align: center;
    width: 25%;
    float: right;
    margin-top: 142px;

}
label{
    display: block;
    margin: 1px;
}
label span{
    margin:1px; width:50px; display:block;
}
.me{
    color: rgb(29, 25, 20);
    font-size:larger;
}
form{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow:  0 0 100px rgba(0, 0, 0, 0.1);
    width: 1000px;
}
.costomlabel{
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
    cursor: pointer;
}
.customInput{
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 5px;
    box-sizing: border-box;
}


label small{
    color: red;
}
.rad {
display:flex;
margin-bottom: 10px;

   
}

button{
    background-color: antiquewhite;
    padding: 10px 10px;
    border: 1px sikuid black;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.section a {
    text-decoration: none;
    color: rgb(20, 26, 24);
}
.section a:hover{
    color: blueviolet;
}
.rad1{
    margin: 5px;
}
.rad1 label{
    cursor: pointer;
}
textarea{
    resize: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 5px;
    box-sizing: border-box;
}
.transition{
    width: 500px;
    height: 100px;
    background-color: rgb(181, 175, 185);
    margin: 0 auto;
    margin-bottom: 50px;
    transition:width 0.5s ease-in-out;
    color: red;
   
}
.transition:hover {
    width: 550px;
    height: 150px;
    background-color: rgb(181, 175, 185);
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: rgb(52, 138, 109);
    color: aliceblue;
    cursor: pointer;
    font-size: larger;
   
}

@keyframes colors {
    0%{
        background-color: aquamarine;

    }
    50%{
        background-color: rgb(230, 97, 97);
        color: beige;
    }
    100%{
        background-color: antiquewhite;
    }
    
}
.import{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px;
    text-indent: 3%;
    color: var(--import-color);
    animation: colors 3s infinite ease-in-out;

}
section p{
    color: var(--secondarty-color);
    
    
}

#p2{
    text-transform: var(--txt-any-name);
}
section img{
    width: 99%;
}
